<div class="card" *ngFor="let user of users; trackBy: trackByUsers">
  <div *ngIf="isDetails" class="burgerBtn arrow" (click)="goBack()"><span></span></div>

  <div class="avatar">
    <a *ngIf="!isDetails; else elseBlock" [routerLink]="['/user', user.id]" [state]="user">
      <img [src]="user.avatar">
    </a>
    <ng-template #elseBlock>
        <img [src]="user.avatar">
    </ng-template>
  </div>
  <div class="descr">
    <p><span>Name:</span> {{user.first_name}}</p>
    <p><span>Last Name:</span> {{user.last_name}}</p>
    <p><span>Email:</span> <a [href]="'mailto:' + user.email">{{user.email}}</a></p>
  </div>
</div>
