$gray: #383838;

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 8px;
    margin-left: 8px; 
    margin-top: 15px;
    width: 300px;
    position: relative;

    .avatar {
        margin-bottom: 25px;
    }

    p {
        color: blue;
        margin-bottom: 15px;

        span {
            color: #777777;
            margin-right: 7px;
        }
    }
}

.burgerBtn {
    position: absolute;
    top: 32px;
    left: 26px;
    height: 45px;
    z-index: 101;
    cursor: pointer;
    transition: all .35s ease-in-out;
    appearance: none;
    outline: none;
    background: transparent;
    span {
      position: relative;
      display: block;
      width: 45px;
      height: 2px;
      transition: all .2s ease-in-out;
      margin-top: 9px;
      margin-bottom: 9px;
      background: $gray;
      &:after, &:before {
        position: absolute;
        content: '';
        right: 0;
        width: 45px;
        height: 2px;
        transition: all .2s ease-in-out;
        background: $gray;
        transform-origin: left;
      }
      &:before {
        top: -24px;
      }
      &:after {
        top: 7px;
      }
    }
    &.cross {
      span {
        background: transparent;
        &:after, &:before {
          background: $gray;
          width: 45px;
        }
        &:before {
          transform: rotate(45deg);
        }
        &:after {
          transform: rotate(-45deg);
        }
      }
    }
    &.arrow {
        span {
            background: $gray;
            width: 23px;
            &:after, &:before {
              background: $gray;
              width: 14px;
              top: 0;
              right: 8px;
            }
            &:before {
              transform: rotate(-45deg);              
            }
            &:after {
              transform: rotate(45deg);
            }
          }
    }
  }