.users {
    display: flex;
    justify-content: center;
    padding-top: 45px;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    align-content: space-around;
}

.pages {
    padding-top: 20px;
    display: flex;
    justify-content: center;

    span {
        margin: 20px;
        border: 1px solid #ccc;
        padding: 5px 15px;
        color: blue;
        cursor: pointer;

        &.active {
            background-color: blue;
            color: white;
            cursor: default;
        }
    }
}